* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "ProximaNova";
    background-color: $bg-color;
    color: $color;
    line-height: 1.3;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
} 
